@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

.font-roboto-mono {
  font-family: "Roboto Mono", monospace !important;
  * {
    font-family: "Roboto Mono", monospace !important;
  }
}
