@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

.font-roboto-mono {
  font-family: "Roboto Mono", monospace !important;
  * {
    font-family: "Roboto Mono", monospace !important;
  }
}

.loading-wipe {
  background-image: linear-gradient(90deg, #6495ed 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: wipe 1.2s ease-in-out forwards;
}

@keyframes wipe {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0% 0;
  }
}
